footer {
    background: #2e2f42;
}

footer>a{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

footer>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}