.header {
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
    align-items: center;
}


.header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2e2f42;
}

.header-nav {
    display: flex;
    padding-left: 76px;
    padding-right: 340px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-nav-list {
    display: flex;
    column-gap: 40px;
}

.header-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.header-address-list {
    display: flex;
    column-gap: 40px;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

.nav-link-features::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 65px;
    height: 4px;
    background: #404bbf;
    position: relative;
    top: 21px;
}

.nav-link-features {
    color: #404bbf;
}
