.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc
}


.header-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2e2f42;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    padding-left: 76px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-nav-list {
    display: flex;
    column-gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    column-gap: 40px;
}

.header-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}