.hero {
    background: #2e2f42;
    height: 600px;
}

.conteiner-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-top: 188px;
    padding-left: 331px;
    padding-right: 331px;
}

.hero-button {
    background: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
    margin-bottom: 188px;
}

.hero-button:hover,
.hero-button:focus {
    color: #fff;
    background-color: #404bbf;
}