.hero {
    background: #2e2f42;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    background: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #fff;
}

.hero-button:hover,
.hero-button:focus {
    color: #fff;
    background-color: #404bbf;
}